<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Conditions Générales d'Utilisation" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card overflow-hidden">
            <div class="bg-primary pb-0">
                <div class="card-body text-center py-4">
                    <h4 class="fw-medium text-white mb-3">Conditions Générales d'Utilisation</h4>
                    <p class="text-white text-opacity-75 mb-0">Pour en savoir plus sur les Conditions Générales d'Utilisation de TARABOSS, veuillez consulter les informations ci-dessous.</p>
                </div>
                <div class="card-body py-2 bg-white bg-opacity-10">
                    <ul class="list-unstyled mb-0 text-white-75 hstack gap-2 justify-content-between">
                        <li>
                            Dernière mise à jour
                        </li>
                        <li>
                            12, septembre 2024
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 1. Objet</h6>
                <p class="text-muted mb-2">Les présentes CGU définissent les conditions dans lesquelles la société Profeel Talent Solutions met à disposition des utilisateurs (entreprises, établissements d'enseignement, et stagiaires) l'application TARABOSS, ainsi que les droits et obligations des utilisateurs.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 2. Accès à la plateforme</h6>
                <p class="text-muted mb-2">L'accès à la Plateforme est réservé :</p>
                <ul class="text-muted">
                    <li>Aux entreprises cherchant à gérer efficacement leurs stagiaires.</li>
                    <li>Aux établissements d'enseignement supervisant les stages.</li>
                    <li>Aux étudiants souhaitant postuler à des stages et suivre leur parcours.</li>
                </ul>
                <p class="text-muted mb-2">L’utilisateur s’engage à fournir des informations véridiques et à jour lors de l’inscription sur la Plateforme.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 3. Services proposés</h6>
                <p class="text-muted mb-2">TARABOSS offre une gamme de services adaptés à la gestion des stages, notamment :</p>
                <ul class="text-muted">
                    <li>Recherche et gestion des offres de stages</li>
                    <li>Suivi des candidatures et des stages en cours</li>
                    <li>Évaluation des performances des stagiaires</li>
                    <li>Suivi administratif des conventions de stage</li>
                    <li>Communication simplifiée entre les entreprises, les établissements d'enseignement, et les stagiaires</li>
                    <li>Outils d'analyse et de reporting</li>
                </ul>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 4. Obligations des utilisateurs</h6>
                <p class="text-muted mb-2">Les utilisateurs s’engagent à :</p>
                <ul class="text-muted">
                    <li>Respecter les présentes CGU et les lois en vigueur.</li>
                    <li>Fournir des informations exactes lors de l’inscription et de l’utilisation de la Plateforme.</li>
                    <li>Ne pas porter atteinte aux droits des autres utilisateurs ni à la réputation de TARABOSS et de Profeel Talent Solutions.</li>
                </ul>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 5. Responsabilité de TARABOSS</h6>
                <p class="text-muted mb-2">TARABOSS, détenue par Profeel Talent Solutions, s'efforce de fournir des services fiables, mais ne garantit pas l'absence d'interruptions, de dysfonctionnements, ou d'erreurs. La société ne saurait être tenue responsable des conséquences découlant de l'utilisation de la Plateforme.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 6. Propriété intellectuelle</h6>
                <p class="text-muted mb-2">Tous les éléments de la Plateforme (textes, images, logos, logiciels, etc.) sont la propriété exclusive de Profeel Talent Solutions. Toute reproduction non autorisée des contenus est interdite.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 7. Données personnelles</h6>
                <p class="text-muted mb-2">Les données personnelles collectées sur la Plateforme sont traitées conformément à la législation tunisienne sur la protection des données et à la politique de confidentialité de TARABOSS. Les utilisateurs disposent d'un droit d'accès, de modification et de suppression de leurs données.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 8. Utilisation des services</h6>
                <p class="text-muted mb-2">Les utilisateurs s’engagent à :</p>
                <ul class="text-muted">
                    <li>Ne pas utiliser la Plateforme à des fins frauduleuses ou illégales.</li>
                    <li>Respecter la confidentialité des informations échangées sur la Plateforme, notamment entre entreprises, stagiaires et établissements d'enseignement.</li>
                </ul>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 9. Tarification</h6>
                <p class="text-muted mb-2">Certains services de TARABOSS peuvent être payants. Les utilisateurs seront informés au préalable des tarifs avant toute souscription.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 10. Résiliation</h6>
                <p class="text-muted mb-2">Profeel Talent Solutions se réserve le droit de suspendre ou de résilier l'accès à la Plateforme de tout utilisateur ne respectant pas les présentes CGU ou faisant un usage abusif des services.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 11. Modification des CGU</h6>
                <p class="text-muted mb-2">Profeel Talent Solutions se réserve le droit de modifier les présentes CGU à tout moment. Les utilisateurs seront informés des modifications et sont encouragés à consulter régulièrement les CGU mises à jour.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 12. Droit applicable et juridiction compétente</h6>
                <p class="text-muted mb-2">Les présentes CGU sont régies par le droit tunisien. En cas de litige lié à l'utilisation de la Plateforme, la compétence exclusive revient aux tribunaux tunisiens.</p>

                <h6 class="card-title mb-3"><i class="bi bi-circle-square align-baseline me-1 text-info"></i> 13. Contact</h6>
                <p class="text-muted mb-2">Pour toute question relative aux présentes CGU, veuillez nous contacter à l’adresse suivante : <b>CONTACT&#64;TARABOSS.TN</b></p>
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
